.Detail {
  background-image: url('../img/landingpage.jpg');
  background-size: cover;
  background-position: center 0;
  height: 100vh;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Detail__Box {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 2rem 0;
}

.Detail__Country {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
  backdrop-filter: blur(2px);
  width: max-content;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.Detail__Img__Cont {
  margin: auto 0;
  display: flex;
}

.Detail__Img {
  max-width: 100%;
}

.Detail__Info {
  font-size: .7rem;
}

.Link__Detail {
  color: black;
  text-decoration: none;
}

.Link__Detail:hover {
  background-color: #aeaeae;
}

.Detail__Activities {
  background-color: white;
  padding: .8rem;
  border-radius: .8rem;
  transition: .6s;
}

.Detail__Activities:hover {
  cursor: pointer;
  background-color: #aeaeae;
}

.loading {
  font-size: 3rem;
  color: #fff;
}